@font-face {
    font-family: theseasons;
    src: url(Fontspring-DEMO-theseasons-reg.ttf ) format('truetype')
}

*{
    margin: 0;
    padding: 0;

}
.minha-div{
    width: 100%;
    background-image: url('ComAmorLJ/index.jpg');
}
    body {
       
      
    
        text-align: center;
        padding: 50px;
        font-family: 'theseasons';
    }

    

a{
    text-decoration: none;
    color: black;
    padding-right: 75px;
    font-size: 30px;
}
header,nav{
    background-color: none;
    padding: 3px;
    display:flex;
    justify-content: space-around;
    font-weight: bold;

}


