@font-face {
    font-family: theseasons;
    src: url(Fontspring-DEMO-theseasons-reg.ttf ) format('truetype')
}

*{
    margin: 0;
    padding: 0;

}
    body{
        background-color: white;
        background-image:url(CALJimg/indeximg.jpg);
        background-repeat: no-repeat;
        background-size:100% ;
    }
    

a{
    text-decoration: none;
    color: black;
    padding-right: 75px;
    font-size: 30px;
}
header,nav{
    background-color: white;
    padding: 3px;
    display:flex;
    justify-content: space-around;
    font-weight: bold;
}
.PS{
    background-image: url();
}